@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

:root {
	--angle: 0deg;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #0D4CBE;
	overflow: hidden;
}

.word-container {
	position: relative;
	width: 100%;
	min-height: 100%;
	
}

.word {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-family: 'DotGothic16', sans-serif;
	font-size: 7rem;
	font-weight: 400;
	color: var(--color, #fff);
	display: flex;
	pointer-events: none;
	user-select: none;
	line-height: 5.8rem;

	.char {
		position: relative;
		-webkit-text-stroke: 0.2px #000;
		transform: translateY(-45%) rotate(var(--angle));
		animation: up-and-down 2s ease infinite;
		animation-delay: calc((var(--word-index) * -0.15s) + (var(--char-index) * 0.1s));
		z-index: calc(-1 * var(--char-index));
		margin-left: 0rem;
	}
}

@keyframes up-and-down {
	0%,
	100% {
		transform: translateY(-45%) rotate(var(--angle));
	}
	50% {
		transform: translateY(45%) rotate(var(--angle));
	}
}

